# dependencies
node_modules/
# env & secrets
.env
*.env
!.env.example
# build output
dist/
build/
# prisma
server/prisma/*.db
# logs & OS
*.log
.DS_Store
# lab files
docs/lab-01/Lab1_Labsheet.pdf
docs/lab-01/PLAN_LAB1.md
docs/lab-02/Lab2_labsheet.pdf
docs/lab-02/PLAN_LAB2.md
TokTickIT_GitHub_Workflow_Guide_TH_EN.pdf